@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --background: 0 0% 100%;
    --border: 240 5.9% 90%;
    --card-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --destructive-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --foreground: 240 10% 3.9%;
    --input: 240 5.9% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --muted: 240 4.8% 95.9%;
    --popover-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --primary-foreground: 355.7 100% 97.3%;
    --primary: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --ring: 346.8 77.2% 49.8%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
  }

  .dark {
    --accent-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --background: 20 0% 1%;
    --border: 240 3.7% 15.9%;
    --card-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --destructive-foreground: 0 85.7% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --foreground: 0 0% 95%;
    --input: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --muted: 0 0% 15%;
    --popover-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --primary-foreground: 355.7 100% 97.3%;
    --primary: 346.8 77.2% 49.8%;
    --ring: 346.8 77.2% 49.8%;
    --secondary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-primary text-foreground antialiased;
  }
  .h1 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[80px];
  }
  .h2 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[48px];
  }
  .h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }

  .text-outline {
    -webkit-text-stroke: 1px hsl(var(--foreground));
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px hsl(var(--primary));
  }
}
