@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 244 236;
    --foreground: 17 18 16;
    --card: 255 252 247;
    --card-foreground: 17 18 16;
    --primary: 232 90 50;
    --primary-foreground: 255 252 247;
    --accent: 255 146 119;
    --accent-secondary: 255 196 106;
    --muted: 232 228 218;
    --muted-foreground: 92 87 78;
    --border: 185 187 179;
    --ring: 17 18 16;
    --success: 95 178 123;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
