<!DOCTYPE html>
<html lang="en">
	<head>
		<module href="/components/head.html"></module>
		<title>Ramesh Kumar | Portfolio</title>
	</head>
	<body>
		<section class="hero-section">
			<div class="hero">
				<div class="hero-text-box">
					<h1 class="hero-header">Hello there, 🙋🏻‍♂️ I am Ramesh</h1>
					<p class="hero-description">I am a software developer.</p>
					<a class="btn btn--full margin-right-sm" href="#">Say Hello</a>
					<a class="btn btn--outline" href="#">Learn More &darr;</a>
				</div>
				<div class="hero-img-box">
					<img src="/images/profile.svg" alt="" srcset="" />
				</div>
			</div>
		</section>
		<script src="./bundle.js"></script>
	</body>
</html>
