<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
  <link href="index.css" rel="stylesheet" type="text/css"/>
  <title>Ramesh Kumar | Portfolio</title>
</head>
<body>
<header class="header">
  <img alt="Omnifood logo" class="logo" src="./images/logo.png">
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#">About Me</a></li>
      <li><a class="main-nav-link" href="">Projects</a></li>
      <li><a class="main-nav-link" href="">Career</a></li>
      <li><a class="main-nav-link" href="">Blogs</a></li>
      <li><a class="main-nav-link nav-cta" href="">Contact Me</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="hero-section">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="hero-header">Hello there, 🙋🏻‍♂️ I am Ramesh</h1>
        <p class="hero-description">I am a software developer.</p>
        <a class="btn btn--full margin-right-sm" href="#">Say Hello</a>
        <a class="btn btn--outline" href="#">Learn More &darr;</a>
      </div>
      <div class="hero-img-box">
        <img alt="" src="./images/profile.svg" srcset=""/>
      </div>
    </div>
  </section>
</main>
<script src="./bundle.js"></script>
</body>
</html>
