:root {
  --white: #fff;

  --primary: #495057;
  --primary-dark: #212529;

  --background: #f8f9fa;
  --background-dark: #f1f3f5;

  --text-shadow: #ddd;
  --text-default: #555;
  --text-dark: #333;
}

$themes: (
        -grey: (
                'primary': #495057,
                'primary-dark': #212529,
                'background': #f8f9fa,
                'background-dark': #f1f3f5,
        ),
        -red: (
                'primary': #e03131,
                'primary-dark': #c92a2a,
                'background': #fff5f5,
                'background-dark': #ffe3e3,
        ),
        -pink: (
                'primary': #d6336c,
                'primary-dark': #a61e4d,
                'background': #fff0f6,
                'background-dark': #ffdeeb,
        ),
        -grape: (
                'primary': #ae3ec9,
                'primary-dark': #862e9c,
                'background': #f8f0fc,
                'background-dark': #f3d9fa,
        ),
        -violet: (
                'primary': #7048e8,
                'primary-dark': #5f3dc4,
                'background': #f3f0ff,
                'background-dark': #e5dbff,
        ),
        -indigo: (
                'primary': #4263eb,
                'primary-dark': #364fc7,
                'background': #edf2ff,
                'background-dark': #dbe4ff,
        ),
        -blue: (
                'primary': #1c7ed6,
                'primary-dark': #1864ab,
                'background': #e7f5ff,
                'background-dark': #d0ebff,
        ),
        -cyan: (
                'primary': #1098ad,
                'primary-dark': #0b7285,
                'background': #e3fafc,
                'background-dark': #c5f6fa,
        ),
        -teal: (
                'primary': #0ca678,
                'primary-dark': #087f5b,
                'background': #e6fcf5,
                'background-dark': #c3fae8,
        ),
        -green: (
                'primary': #37b24d,
                'primary-dark': #2b8a3e,
                'background': #ebfbee,
                'background-dark': #d3f9d8,
        ),
        -lime: (
                'primary': #74b816,
                'primary-dark': #5c940d,
                'background': #f4fce3,
                'background-dark': #e9fac8,
        ),
        -yellow: (
                'primary': #f59f00,
                'primary-dark': #e67700,
                'background': #fff9db,
                'background-dark': #fff3bf,
        ),
        -orange: (
                'primary': #f76707,
                'primary-dark': #d9480f,
                'background': #fff4e6,
                'background-dark': #ffe8cc,
        ),
);

@each $name, $map in $themes {
  .theme#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}
